@{
    ViewData["Title"] = "Item";
}

<div class="text-center">
    <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="id">
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control" id="category">
            <!-- Здесь добавьте опции для выбора категории -->
        </select>
    </div>

    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" class="form-control" id="quantity">
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price">
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description">
    </div>
    <button type="button" class="btn btn-primary" id="okButton">OK</button>

</div>
