@{
    ViewData["Title"] = "Shelf";
}

<div class="text-center">
    <div class="text-center">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id">
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category">
                <!-- Здесь добавьте опции для выбора категории -->
            </select>
        </div>

        <div class="form-group">
            <label for="capacity">Capacity:</label>
            <input type="number" class="form-control" id="capacity">
        </div>

        <button type="button" class="btn btn-primary" id="okButton">OK</button>
    </div>
</div>
